/* Rose Pine Colors 
*
*
* https://rosepinetheme.com/palette/ingredients/
*
*/


* {
    /* Base */
    bg: #232634;
    /* Highlight Med */
    bg-alt: #303446;
    /* Text */
    fg: #e0def4;
    /* Pine */
    primary: #31748f;
    /* Rose */
    secondary: #ebbcba;
    /* Love */
    alert: #eb6f92;
    /* Muted */
    disabled: #6e6a86;
    /* Transparent */
    transparent: #00000000;


    radius: 12px;
    border-width: 4px;
}
